# Ignore node_modules directory
node_modules/

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore debug logs
npm-debug.log*

# Ignore build/output directories
dist/
build/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore npm/yarn cache
.npm
.yarn
.yarn-cache

# Ignore package-lock.json (if using yarn)
package-lock.json

# Ignore yarn.lock (if using npm)
yarn.lock

# Ignore Azure_infrastucture
Azure_Infrastructure/